<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class="text-center">Cargar nueva Asistencia</h1>
                    <div class="card-body">
                        <form th:action="@{/asistencias}" th:object = "${asistencia}" method="POST">
                            <div class="form-group">
                                <label>Id Asistencia</label>
                                <input type="text"
                                       name="idAsistencia"
                                       th:field="*{idAsistencia}"
                                       placeholder="Ingresa id de idAsistencia"
                                       class="form-control"
                                       />
                            </div>
                            <div class="form-group">
                                <label>Evento</label>
                                <input type="text"
                                       name="idEvento"
                                       th:field="*{evento}"
                                       placeholder="Ingresa el Id del evento"
                                       class="form-control"
                                       />
                            </div>
                            <div class="form-group">
                                <label>Persona</label>
                                <input type="text"
                                       name="idPersona"
                                       th:field="*{persona}"
                                       placeholder="Ingresa el Id de Persona"
                                       class="form-control"
                                       />
                            </div>
                             <div class="form-group">
                                <label>Ciudad</label>
                                <input type="text"
                                       name="idCiudad"
                                       th:field="*{ciudad}"
                                       placeholder="Ingresa el Id de Ciudad"
                                       class="form-control"
                                       />
                            </div>
                             <div class="form-group">
                                <label>Asistira</label>
                                <input type="checkbox"
                                       name="asistira"
                                       th:field="*{asistira}"
                                       />
                            </div>
                             <div class="form-group">
                                <label>Estado</label>
                                <input type="text"
                                       name="estado"
                                       th:checked="*{estado}"
                                       placeholder="Ingresa el estado"
                                       class="form-control"
                                       />
                            </div>
                            <div class="footer-body">
                                <button type="submit" class="btn btn-primary">
                                    Guardar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
